h1 {
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-family: 'Bungee', sans-serif;
  font-size: 4em;
  color: #97a7ff;
  position: relative;
  &::before{
    content: "Rock, Paper, Scissors!";
    color: black;
    position: absolute;
    margin-left: 4px;
    margin-top: -3px;
  }
}