footer {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    color: white;
  }
  div {
    font-size: 14px;
  }
  a {
    color: inherit;
  }
}