footer {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    color: white;
    // outline: none;
    // background-color: none;
    // font: inherit;
    // cursor: pointer;
  }
  a {
    color: inherit;
  }
}