.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.select-strat {
  text-align: center;
  .strat-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      display: block;
      margin: 1rem;
    }
  }
}

.result {
  width: 100%;
  position: relative;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 4.25em;
  & > button {
    position: absolute;
    left: 1em;
  }
  div {
    button {
      margin-left: 16px;
      margin-right: -100px;
    }
    font-size: 1.5em;
  }
}

.playground {
  display: flex;
  justify-content: space-evenly;
  .video-holder {
    height: 400px;
    width: 500px;
    margin-top: 1em;
    margin-bottom: 0.25em;
    position: relative;
  }
  video {
    object-fit: cover;
    transform: scale(-1, 1);
  }
  canvas {
    height: 400px;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .loading-overlay {
    height: 400px;
    width: 500px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .col {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.col .header {
  width: 100%;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.countdown {
  opacity: 0;
  font-size: 1em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  z-index: 10;
}

.player-result {
  min-height: 16px;
  font-size: 0.85em;
}
