<div class="wrapper">
  <app-header></app-header>
  <main>
    @if (!computerStrategy) {
    <section class="select-strat">
      <h2>Choose the computer's strategy</h2>
      <div class="strat-buttons">
        <button (click)="selectStrat(1)">random</button>
        <!-- https://arstechnica.com/science/2014/05/win-at-rock-paper-scissors-by-knowing-thy-opponent/ -->
        <button (click)="selectStrat(2)">conditional</button>
        <!-- https://medium.com/@alexkrameris/markov-chain-implementation-in-javascript-a698f371d66f -->
        <button (click)="selectStrat(3)">markov</button>
        <button (click)="selectStrat(4)">anticipate</button>
      </div>
    </section>
    } @else { @if(isCountingDown && countdown > 0) {
    <div class="countdown">
      @if (countdown == 5) { Ready? } @else if (countdown == 4) { Set? } @else {
      {{ countdown }}
      }
    </div>
    } @else if (countdown == 0 && freezeVideo) {
    {{ gameResult }} <button (click)="reset()">Again?</button>
    <button (click)="changeStrategy()">Change Computer Strategy</button>
    }
    <section class="playground">
      <div class="left col">
        <h2>Player {{ playerScore }}</h2>
        <div class="video-holder">
          <video
            [style.display]="isLoadingCamera ? 'block' : 'none'"
            style="display: none"
            #video
            width="500"
            height="400"
            autoplay
            [srcObject]="stream"
          ></video>
          <canvas #canvas width="500" height="400"></canvas>
          @if (isLoadingCamera) {
          <div class="loading-overlay">
            <div>{{ loadingStatus }}</div>
          </div>
          }
        </div>
      </div>
      <div class="divider"></div>
      <div class="right col">
        <h2>Computer {{ computerScore }}</h2>
        @if(computerSign) {
        <div class="computer-result">
          {{ computerSign }}
        </div>
        }
      </div>
    </section>
    @if (freezeVideo) {
    {{ playerResult() }}
    } }
  </main>
  <app-footer></app-footer>
</div>
