<div class="wrapper">
  <app-header></app-header>
  <main>
    @if (!computerStrategy) {
    <section class="select-strat">
      <h2>Choose the computer's strategy</h2>
      <div class="strat-buttons">
        <button (click)="selectStrat(1)" mat-raised-button color="primary">
          random
        </button>
        <button (click)="selectStrat(2)" mat-raised-button color="primary">
          conditional
        </button>
        <button (click)="selectStrat(3)" mat-raised-button color="primary">
          markov
        </button>
        <button (click)="selectStrat(4)" mat-raised-button color="primary">
          anticipate
        </button>
      </div>
    </section>
    } @else {
    <div class="result">
      @if(isCountingDown) {
      <div class="countdown" [@pulse]="countdown">
        @if (countdown == 5) { Ready? } @else if (countdown == 4) { Set? } @else
        {
        {{ countdown }}
        }
      </div>
      } @else if (countdown == 0 && freezeVideo) {
      <button mat-stroked-button color="primary" (click)="changeStrategy()">
        < Change Computer Strategy
      </button>
      <div>
        {{ gameResult }}
        <button mat-flat-button color="primary" (click)="reset()">
          Play again?
        </button>
      </div>
      }
    </div>
    <section class="playground">
      <div class="left col">
        <div class="header">
          <div>Player</div>
          <div>{{ playerScore() }}</div>
        </div>
        <div class="video-holder">
          <video
            [style.display]="isLoadingCamera ? 'block' : 'none'"
            style="display: none"
            #video
            width="500"
            height="400"
            autoplay
            [srcObject]="stream"
          ></video>
          <canvas #canvas width="500" height="400"></canvas>
          @if (isLoadingCamera) {
          <div class="loading-overlay">
            <app-loading></app-loading>
            <div>{{ loadingStatus }}</div>
          </div>
          }
        </div>
        <div class="player-result">
          @if (freezeVideo) {
            <i>{{ playerResult() }}</i>
          }
        </div>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="right col">
        <div class="header">
          <div>Computer</div>
          <div>{{ computerScore() }}</div>
        </div>
        @if(computerSign) {
        <div class="computer-result">
          <div class="emoji">
            @switch (computerSign) {
              @case ('Rock') {
                ✊
              }
              @case ('Paper') {
                ✋
              }
              @default {
              ✌️ 
              }
            }
          </div>
          {{ computerSign }}
        </div>
        }
      </div>
    </section>
    }
  </main>
  <app-footer></app-footer>
</div>
