html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(assets/circuit.png);
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  background: radial-gradient(
    rgba(255, 255, 255, 0.9) 70%,
    rgba(255, 255, 255, 0.5)
  );
  height: 100%;
  width: 100%;
  z-index: -5;
}
